/* set body margin to 12 */
body {
    margin: 12;
    background-color: #2c2d35;
    color: #d4d4d4;
  }

  /* style the main heading */
  h1 {
    text-align: center;
    background-color: #3f4852;
    color: #d4d4d4;
    padding: 20px;
  }
  
  /* style the section headings */
  h2 {
    background-color: #5b6772;
    color: #d4d4d4;
    padding: 10px;
  }
  
  /* style the table */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* style table header cells */
  th {
    background-color: #39404a;
    color: #d4d4d4;
    text-align: left;
    padding: 8px;
  }
  
  /* style table data cells */
  td {
    border: 1px solid #4e5867;
    padding: 8px;
  }
  
  /* alternate table row background color */
  tr:nth-child(even) {
    background-color: #454f5c;
  }
  
  /* style form labels */
  form label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
    color: #d4d4d4;
  }
  
  /* style form input fields */
  form input[type=text],
  form input[type=email],
  form input[type=date],
  form textarea {
    width: 300px;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #545d69;
    background-color: #3b424c;
    color: #d4d4d4;
  }
  
  /* style form checkbox */
  form input[type=checkbox] {
    margin-bottom: 10px;
  }
  
  /* style form buttons */
  form input[type=submit],
  form input[type=button] {
    background-color: #58647b;
    color: #d4d4d4;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  form input[type=submit]:hover,
  form input[type=button]:hover {
    background-color: #475168;
  }
  
  /* style remove button */
  button {
    background-color: #900c3f;
    color: #d4d4d4;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c70039;
  }
  
  footer {
    background-color: #39404a;
    color: #d4d4d4;
    padding: 18px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a:link,
  footer a:visited {
    color: #d4d4d4 !important;
    background: #39404a;
  }
  
  footer a:hover {
    color: #c70039 !important;
    background: #39404a;
  }
  